{% extends 'customer/customer_dashboard.html' %} {% block content1 %} {%
endblock %} {% block content %}

<section class="blog-post-area ptb-54">
  <div class="container">
    <h3>Latest News</h3>
    <div class="row">
      <div class="col-lg-8">
        <div class="row justify-content-center">
          <div class="col-lg-12 col-md-6">
            {% for detail in news %}
            <div
              class="single-blog blog-post"
              style="border-top: 1px solid black"
            >
              <div class="blog-content">
                <ul>
                  <li>
                    <a href="author.html"> {{detail[3]}} </a>
                  </li>
                  <li>{{detail[2].strftime("%d/%m/%Y")}}</li>
                </ul>
                <h3>{{detail[0]}}</h3>
                <p>{{detail[1]}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
