{% extends 'staff/staff_dashboard.html' %} {% block content %}
<section class="popular-categories-area pt-54 pb-30">
  <div class="container">
    <div class="section-title">
      <h2>Equipment Categories</h2>
    </div>
    <div class="row justify-content-center">
      {% for category in categorys %}
      <div class="col-lg-2 col-sm-6 col-md-4">
        <div class="single-popular-categories">
          <a href="/staff/product?category={{category[0]}}">
            <img
              src="{{ url_for('static', filename='images/icon/' ~ category[2]) }}"
              alt="Image"
            />
            <span>{{category[1]}}</span>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="product-list-area pt-54 pb-30">
  <div class="container">
    <div class="section-title">
      <h2>{{ category_name }}</h2>
    </div>
    <div class="row">
      {% for product in products %}
      <div class="col-lg-4 col-md-6">
        <div class="single-product">
          <img
            src="{{ url_for('static', filename='images/products/' ~ product[2]) }}"
            alt="{{ product[1] }}"
          />
          <h3>{{ product[1] }}</h3>
          <p>Cost: ${{ product[4] }}</p>
          <a
            href="/staff/product_details?store_id={{ product[3] }}&equipment_id={{ product[0] }}"
            class="btn btn-primary btn-orange"
            style="color: black"
            >View and Update Details</a
          >
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<style>
  .btn-orange {
    background-color: darkorange;
    border-color: darkorange;
    color: white;
  }
  .btn-orange:hover {
    background-color: #cc8400;
    border-color: #cc8400;
  }
</style>
{% endblock %}
