{% extends 'staff/staff_dashboard.html' %} {% block content %}

<div class="alert alert-danger" style="display: none" id="messaage_container">
  <ul>
    <li id="message">{{ message }}</li>
  </ul>
</div>

<div class="order-tracking ptb-54">
  <div class="container">
    <div class="order-tracking">
      <h3>Quick Search</h3>
      <form action="/staff/search" method="POST">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label>Equipment Name</label>
              <input
                type="text"
                class="form-control"
                name="equipment_name"
                id="equipment_name"
              />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label>Booking Number</label>
              <input
                type="text"
                class="form-control"
                name="order_id"
                id="order_id"
              />
            </div>
          </div>
          <div class="col-lg-12">
            <button type="submit" class="default-btn" id="search">
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  const search = document.getElementById("search");
  const equipment_name = document.getElementById("equipment_name");
  const order_id = document.getElementById("order_id");
  const message = document.getElementById("message");
  const messaage_container = document.getElementById("messaage_container");

  search.addEventListener("click", function (e) {
    if (equipment_name.value && order_id.value) {
      e.preventDefault();
      messaage_container.style.display = "block";
      message.textContent = "Can not process both search, Sorry!";
    }

    if (!equipment_name.value && !order_id.value) {
      messaage_container.style.display = "block";
      message.textContent = "Please enter either search information.";
      e.preventDefault();
    }
  });
</script>

{% endblock %}
