{% extends 'admin/admin_dashboard.html' %}

{% block content1 %}
{% endblock %}

{% block content %}

<style>
    .staff-profile {
        margin-bottom: 30px;
        text-decoration: none;
        color: inherit;
    }

    .staff-profile img {
        border: 2px solid #ddd;
        padding: 5px;
        margin-bottom: 10px;
        width: 150px;
        height: 150px;
    }

    .staff-profile h5 {
        font-size: 1.1em;
        margin-bottom: 5px;
    }

    .staff-profile p {
        font-size: 0.9em;
        color: #888;
    }

    .staff-profile:hover {
        background-color: #f9f9f9;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
</style>

<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-12">
            <form method="POST" class="form-inline">
                <div class="form-group mr-2">
                    <label for="store_id" class="mr-2">Select Store:</label>
                    <select class="form-control" id="store_id" name="store_id">
                        <option value="">All Stores</option>
                        {% for store in stores %}
                        <option value="{{ store[0] }}" {% if selected_store_id and selected_store_id == store[0] %}selected{% endif %}>{{ store[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn default-btn">Filter</button>
            </form>
        </div>
    </div>
    <div class="row text-center">
        {% for staff in staff_list %}
        <div class="col-md-3 col-sm-6">
            <a href="{{ url_for('national_manage_staff_profile', staff_id=staff[0]) }}" class="staff-profile">
                <img src="{{ url_for('static', filename='images/profile/' ~ (staff[1] if staff[1] else 'default.png')) }}" alt="{{ staff[2] }}'s Profile Image" class="img-fluid rounded-circle">
                <h5 class="mt-3">{{ staff[2] }}</h5>
                <p></p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
