{% extends 'admin/admin_dashboard.html' %} {% block content1 %} {% endblock %}
{% block content %}
<section class="dashboard-area ptb-54">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <ul class="dashboard-navigation">
          <li>
            <h3>Setting</h3>
          </li>
          <li>
            <a href="/admin/personal">My Profile</a>
          </li>
          <li>
            <a href="/admin/password">Password</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-8">
        <div class="address-list">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %}
          <ul class="flashes">
            {% for category, message in messages %}
            <li
              class="{{ category }}"
              style="color: {{ 'green' if 'success' in category else 'red' }};"
            >
              {{ message }}
            </li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}

          <h3>Change Password</h3>

          <form class="submit-property-form" method="POST">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="old_password">Old Password</label>
                  <input
                    type="password"
                    id="old_password"
                    class="form-control"
                    name="old_password"
                    aria-label="Old Password"
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="new_password">New Password</label>
                  <input
                    type="password"
                    id="new_password"
                    class="form-control"
                    name="new_password"
                    aria-label="New Password"
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="confirm_password">Confirm Password</label>
                  <input
                    type="password"
                    id="confirm_password"
                    class="form-control"
                    name="confirm_password"
                    aria-label="Confirm Password"
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="col-lg-12">
                <button type="submit" class="default-btn">
                  Change Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
