<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css" />

    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" />

    <link rel="stylesheet" href="/static/css/remixicon.css" />

    <link rel="stylesheet" href="/static/css/meanmenu.min.css" />

    <link rel="stylesheet" href="/static/css/animate.min.css" />

    <link rel="stylesheet" href="/static/css/style.css" />

    <link rel="stylesheet" href="/static/css/responsive.css" />

    <link rel="icon" type="image/png" href="/static/images/logo.png" />

    <title>AgriHire Solution</title>
  </head>
  <body>
    <div class="preloader">
      <div class="content">
        <div class="box"></div>
      </div>
    </div>

    <header class="header-area">
      <div class="middle-header middle-header-style-two">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-3">
              <div class="logo">
                <a href="/">
                  <img src="/static/images/logo.png" alt="Image" />
                </a>
              </div>
            </div>
            <div class="col-lg-5"></div>
            <div class="col-lg-4">
              <ul class="wish-cart">
                <li>
                  <a href="/login">
                    <img
                      src="/static/images/icon/login.png"
                      style="width: 30px; height: 30px; margin-right: 10px"
                    />
                    Log in
                  </a>
                </li>
                <li>
                  <a href="/register">
                    <img
                      src="/static/images/icon/register.jpg"
                      style="width: 30px; height: 30px; margin-right: 10px"
                    />
                    Register
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="navbar-area navbar-area-style-two">
        <div class="desktop-nav">
          <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
              <div
                class="collapse navbar-collapse mean-menu"
                id="navbarSupportedContent"
              >
                <ul class="navbar-nav">
                  <li class="nav-item float-end">
                    <a href="/" class="nav-link active"> Home </a>
                  </li>

                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Equipment
                      <i class="ri-arrow-down-s-line"></i>
                    </a>
                    <ul class="dropdown-menu">
                      {% for category in categorys %}

                      <li class="nav-item">
                        <a
                          href="/product?category={{category[0]}}"
                          class="nav-link"
                          >{{category[1]}}</a
                        >
                      </li>
                      {% endfor %}
                    </ul>
                  </li>

                  <li class="nav-item">
                    <a href="/news" class="nav-link">News</a>
                  </li>

                  <li class="nav-item">
                    <a href="/promotion" class="nav-link">Promotions</a>
                  </li>

                  <li class="nav-item">
                    <a href="/store_location" class="nav-link">Find us</a>
                  </li>

                  <li class="nav-item">
                    <a href="/about_us" class="nav-link">About us</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <section class="product-details-area ptb-54">
      <div class="container">
        <div class="row align-items-center">
          <div class="product-view-one">
            <div class="modal-content p-0">
              <div class="row align-items-center">
                <div class="col-lg-6">
                  <div class="product-view-one-image">
                    <div id="big" class="owl-carousel owl-theme">
                      <div class="item">
                        <img
                          src="/static/images/products/{{details[2]}}"
                          alt="Image"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="product-content ml-15">
                    <h3>{{details[0]}}</h3>

                    <div class="price">
                      <span class="new-price"
                        >${{details[3]}}/Day <small>(Incl. GST)</small></span
                      >
                      <span class="in-stock"
                        >In Stock ({{details[6]}} Items)</span
                      >
                    </div>
                    <ul class="product-info">
                      <li>
                        <p>{{details[1]}}</p>
                      </li>
                      <li>
                        <span>Min Hire Day:</span>
                        {{details[4]}} Day
                      </li>
                      <li>
                        <span>Max Hire Day:</span>
                        {{details[5]}} Days
                      </li>
                      <li>
                        <span>Brand:</span>
                        Sany
                      </li>
                      <li>
                        <span>Categories:</span>
                        {{details[8]}}
                      </li>
                    </ul>

                    <a href="/login/?authentication=1">
                      <button type="submit" class="default-btn">
                        <i class="ri-shopping-cart-line"></i>
                        Add To Cart
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div
      class="footer-area pt-54 pb-30"
      style="background-color: rgb(244, 244, 244)"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="single-footer-widget">
              <h3>Quick Information</h3>
              <ul class="info-list">
                <li>
                  <i class="ri-map-pin-line"></i>
                  2491 Reel Avenue Albuquerque, NM
                </li>
                <li>
                  <i class="ri-phone-line"></i>
                  <a href="#">+1 (514) 321-4566</a>
                </li>
                <li>
                  <i class="ri-mail-send-line"></i>
                  <a href="#"
                    ><span
                      class="__cf_email__"
                      data-cfemail="33565b524a73564b525e435f561d505c5e"
                      >[email&#160;protected]</span
                    ></a
                  >
                </li>
                <li>
                  <i class="ri-time-line"></i>
                  Mon-Sat 8:00 AM - 8:00 PM
                </li>
              </ul>
              <ul class="social-link">
                <li>
                  <span>Stay connected:</span>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <i class="ri-facebook-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <i class="ri-twitter-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <i class="ri-linkedin-fill"></i>
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <i class="ri-instagram-fill"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="single-footer-widget">
              <h3>Information</h3>
              <ul class="import-link">
                <li>
                  <a href="#">About</a>
                </li>
                <li>
                  <a href="#">Order Tracking</a>
                </li>
                <li>
                  <a href="#">Terms & Conditions</a>
                </li>
                <li>
                  <a href="#">Store Location</a>
                </li>
                <li>
                  <a href="#">Privacy Policy</a>
                </li>
                <li>
                  <a href="#">Delivery Information</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="single-footer-widget">
              <h3>Customer Service</h3>
              <ul class="import-link">
                <li>
                  <a href="#">Help Center</a>
                </li>
                <li>
                  <a href="#">Products</a>
                </li>
                <li>
                  <a href="#">Money-back Guarantee!</a>
                </li>
                <li>
                  <a href="#">Blog</a>
                </li>
                <li>
                  <a href="#">Accessibility</a>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="single-footer-widget">
              <h3>Download App On Mobile</h3>
              <p>30% discount on your first order</p>
              <ul class="app-btn">
                <li>
                  <a href="#" target="_blank">
                    <img src="/static/images/app-store.png" alt="Image" />
                  </a>
                </li>
                <li>
                  <a href="#" target="_blank">
                    <img src="/static/images/google-play.png" alt="Image" />
                  </a>
                </li>
              </ul>
              <span class="payment">We Accept Payment Via</span>
              <ul class="payment-option">
                <li>
                  <img src="/static/images/payment/payment-1.png" alt="Image" />
                </li>
                <li>
                  <img src="/static/images/payment/payment-2.png" alt="Image" />
                </li>
                <li>
                  <img src="/static/images/payment/payment-3.png" alt="Image" />
                </li>
                <li>
                  <img src="/static/images/payment/payment-4.png" alt="Image" />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copy-right-area">
      <div class="container">
        <p>
          Copyright © 2024 Designed By
          <a href="#" target="_blank">Group BB</a>
        </p>
      </div>
    </div>

    <div class="go-top">
      <i class="ri-arrow-up-s-fill"></i>
      <i class="ri-arrow-up-s-fill"></i>
    </div>

    <script src="/static/js/jquery.min.js"></script>

    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <script src="/static/js/meanmenu.min.js"></script>

    <script src="/static/js/owl.carousel.min.js"></script>

    <script src="/static/js/wow.min.js"></script>

    <script src="/static/js/range-slider.min.js"></script>

    <script src="/static/js/form-validator.min.js"></script>

    <script src="/static/js/contact-form-script.js"></script>

    <script src="/static/js/ajaxchimp.min.js"></script>

    <script src="/static/js/custom.js"></script>
  </body>
</html>
