{% extends 'national/national_dashboard.html' %} {% block content %} {% with
messages = get_flashed_messages(with_categories=true) %} {% if messages %} {%
for category, message in messages %}
<div class="alert alert-{{ category }}">* {{ message }}</div>
{% endfor %} {% endif %} {% endwith %}

<section class="dashboard-area ptb-54">
  <div class="container">
    <div class="row">
      <div class="col-lg-8" style="width: 100%">
        <div class="cart-area recent-order">
          <h3>Promotion Management</h3>

          <div class="showing-result">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6">
                <div
                  class="showing-top-bar-ordering"
                  style="width: 300px; display: flex; align-items: center"
                >
                  <span>Store: </span>
                  <select
                    id="store-select"
                    class="form-select"
                    aria-label="Default select example"
                    style="flex: 1; margin-left: 20px"
                  >
                    <option selected value="all">Select Store</option>

                    {% for store in stores %}
                    <option value="{{store[0]}}">{{store[1]}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div
                  class="showing-top-bar-ordering"
                  style="
                    width: 300px;
                    display: flex;
                    align-items: center;
                    margin-top: 30px;
                  "
                >
                  <a
                    href="/national/promotion_new"
                    class="btn default-btn"
                    style="padding: 10px; border-radius: 15px"
                    ><span>&#43; New Promotion</span></a
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="cart-table table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr style="background-color: rgb(244, 244, 244)">
                  <th scope="col" style="width: 250px">Promotion Info</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Discount</th>
                  <th scope="col">Store</th>
                  <th scope="col" colspan="2" style="text-align: center">
                    Action
                  </th>
                </tr>
              </thead>
              <tbody id="promotion-table-body">
                {% for promotion in promotions %}
                <tr
                  class="{{promotion[6]}}"
                  id="{{promotion[6]}}"
                  data-store="{{promotion[6]}}"
                >
                  <td class="info">{{promotion[2]}}</td>
                  <td class="start">{{promotion[3].strftime("%d/%m/%Y")}}</td>
                  <td class="end">{{promotion[4].strftime("%d/%m/%Y")}}</td>
                  <td class="disount">{{promotion[5]}}% OFF</td>
                  <td class="end">{{promotion[7]}}</td>

                  <td style="width: 120px">
                    <a
                      href="/national/promotion_edit?promotion_id={{promotion[0]}}"
                      class="btn default-btn"
                      style="padding: 10px; border-radius: 15px"
                      ><span>Edit</span></a
                    >
                  </td>
                  <td class="trash">
                    <a
                      href="/national/promotion_cancel?promotion_id={{promotion[0]}}"
                      class="remove"
                    >
                      <i class="ri-close-fill" onclick="showAlert(event)"></i>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div
            id="no-promotion-info"
            style="
              display: none;
              text-align: center;
              padding: 20px;
              color: black;
            "
          >
            No promotion info Found.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function showAlert(event) {
    event.preventDefault(); // Prevent the default action (navigation)
    if (confirm("Are you sure you want to cancel this promotion?")) {
      window.location.href = event.currentTarget.parentElement.href;
    }
  }

  document
    .getElementById("store-select")
    .addEventListener("change", function () {
      var selectedStore = this.value;
      var promotionItems = document.querySelectorAll(
        "#promotion-table-body tr"
      );
      var noPromotionInfo = document.getElementById("no-promotion-info");

      let hasPromotion = false;

      promotionItems.forEach(function (item) {
        if (
          selectedStore === "all" ||
          item.getAttribute("data-store") === selectedStore
        ) {
          item.style.display = "";
          hasPromotion = true;
        } else {
          item.style.display = "none";
        }
      });
      if (hasPromotion) {
        noPromotionInfo.style.display = "none";
      } else {
        noPromotionInfo.style.display = "block";
      }
    });
</script>

{% endblock %}
